nav {
    padding-top: 81px;
    padding-bottom: 180.6px;
}
@media screen and (max-width: 1200px) {
    nav {
        padding-top: 48px;
        padding-bottom: 132px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        padding-top: 40px;
        padding-bottom: 421px;
    }
}
